@import "style";
.cty-admin{
    .cty-cFix;
    & > .cty-side-left{
        .cty-fL;
        width: 150px;
        background-color: bisque;
        & > .cty-content{

        }
    }
    & > .cty-side-right{
        .cty-fL;
        width: ~"calc(100% - 1px - 150px)";
        background-color: antiquewhite;
        & > .cty-content{
            .cty-list-product{
                & > ul{
                    .cty-dB;
                    & > li{
                        .cty-dB;
                        .cty-pR;
                        .cty-cFix;
                        margin-bottom: 30px;

                        & > div {
                            min-height: 200px;
                            &:nth-child(1){
                                .cty-pA;
                                top: 0px;
                                left: 0xpx;
                                width: 200px;
                                height: 200px;
                                overflow: hidden;
                                z-index: 5;
                            }
                            &:nth-child(2){
                                &.cty-pro-edit{
                                .cty-pR;
                                padding-left: 210px;
                                    ul{
                                        li{
                                            .cty-dB;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//tabs
.cty-content-tabs{
    & > li{
        & > div {
            .cty-dN;
        }
        & > input{
            .cty-dN;
            &:checked{
            & + div{
                .cty-dB;
            }
        }
        }
    }
}
