.cty-row1, .cty-row2, .cty-row3, .cty-row4, .cty-row5, .cty-row6{.cty-pR; .cty-cFix; .cty-fL; .cty-dB; width: 100%;}
.cty-col{.cty-fL; .cty-dB; .cty-pR;}
.cty-row1 .cty-col{width: 100% / 1;}
.cty-row2 .cty-col{width: 100% / 2;}
.cty-row3 .cty-col{width: 100% / 3;}
.cty-row4 .cty-col{width: 100% / 4;}
.cty-row5 .cty-col{width: 100% / 5;}
.cty-row6 .cty-col{width: 100% / 6;}

.cty-grid{
			.cty-pR;
			.cty-cFix;
			width: 100%;
			//padding: 10px;
			//background-color:#ff0;
			ul{
				display: block;
				width: 100%;
				li{
					padding: 10px;
					//background-color: #f0f;
					div{
						&:nth-child(1){
							position: relative;
							//background-color:#0ff;
							width: 100%;
						}
					}
				}
			}
		}



/*
@devide: 100%/12;
.cty-col1{.cty-fL;width: @devide * 1;}
.cty-col2{.cty-fL;width: @devide * 2;}
.cty-col3{.cty-fL;width: @devide * 3;}
.cty-col4{.cty-fL;width: @devide * 4;}
.cty-col5{.cty-fL;width: @devide * 5;}
.cty-col6{.cty-fL;width: @devide * 6;}
.cty-col7{.cty-fL;width: @devide * 7;}
.cty-col8{.cty-fL;width: @devide * 8;}
.cty-col9{.cty-fL;width: @devide * 9;}
.cty-col10{.cty-fL;width: @devide * 10;}
.cty-col11{.cty-fL;width: @devide * 11;}
.cty-col12{.cty-fL;width: @devide * 12;}
*/