/* Rules for sizing the font. check: http://www.pearsonified.com/typography/ */
.cty-fs12 { font-size: 12px; .cty-lh19; .cty-fwN;}/*7*/
.cty-fs14 { font-size: 14px; .cty-lh23; .cty-fwN;}/*9*/
.cty-fs18 { font-size: 18px; .cty-lh26; .cty-fwN;}/*11*/
.cty-fs24 { font-size: 24px; .cty-lh39; .cty-fwN;}/*15*/
.cty-fs30 { font-size: 30px; .cty-lh49; .cty-fwN;}/*19*/
.cty-fs36 { font-size: 36px; .cty-lh58; .cty-fwN;}/*22*/
.cty-fs48 { font-size: 48px; .cty-lh78; .cty-fwN;}/*30*/
.cty-fs60 { font-size: 60px; .cty-lh97; .cty-fwN;}/*30*/
.cty-fs48 { font-size: 72px; .cty-lh116; .cty-fwN;}/*30*/

.cty-lh19{line-height: 19px;}
.cty-lh23{line-height: 23px;}
.cty-lh26{line-height: 29px;}
.cty-lh39{line-height: 39px;}
.cty-lh49{line-height: 49px;}
.cty-lh58{line-height: 58px;}
.cty-lh78{line-height: 78px;}
.cty-lh97{line-height: 97px;}
.cty-lh116{line-height: 116px;}


h1{.cty-fs36;}
h2{.cty-fs30;}
h3{.cty-fs24;}
h4{.cty-fs18;}
h5{.cty-fs14;}
h6{.cty-fs12;}

.cty-fwN{
	font-weight: normal;
}
.cty-fwB{
	font-weight: bold;
}