*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	}
body {
	.cTy-h100per;
	user-select: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
ul, ol, li{
	list-style: none;
}
a {
	.cTy-tN;
	color: inherit;
}
img {
	line-height: 0px;
	.cTy-dB;
}
button{
	.cTy-cP;
	.cTy-bN;
	outline: none;
	background-color: transparent;
}
@screen-size: 1020px;
@min-screen-size: 768px;
.cTy-sWMain{
	.cTy-pR;
	width:@screen-size;
	.cTy-cFix;
	.cTy-dB;
	.cTy-mA;
	padding:0 20px;
}
.cTy-mA {
	margin: 0 auto;
}
.cTy-oH {
	overflow: hidden;
}
/*float*/
.cTy-fL {
	float: left;
}
.cTy-fR {
	float: right;
}
/*text*/
.cTy-tL {
	text-align: left;
}
.cTy-tR {
	text-align: right;
}
.cTy-tC {
	text-align: center;
}
.cTy-tU {
	text-transform: uppercase;
}
.cTy-tN {
	text-decoration: none;
}
/*font*/
.cTy-fB{
	font-weight:bold;
	}
/*position*/
.cTy-pA {
	position: absolute;
}
.cTy-pR {
	position: relative;
}
.cTy-pF {
	position: fixed;
}
/*display*/
.cTy-dB {
	display: block;
}
.cTy-dIB {
	display: inline-block;
}
.cTy-dN {
	display: none;
}
/*visibility*/
.cTy-vH{
	visibility: hidden;
}
.cTy-vV{
	visibility: visible;
}
.cTy-tE {
	.cTy-dB;
	.cTy-oH;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*border*/
.cTy-bN {
	border: none;
}
/*clear*/
.cTy-cB {
	clear:both;
}
.cTy-cFix{
	&:after{
	.cTy-vH;
	.cTy-dB;
	font-size: 0;
	content: " ";
	.cTy-cB;
	height: 0;
	}
}
.cTy-pLR20{
	padding-left:20px;
	padding-right:20px;
	}
.cTy-pTB20{
	padding-top:20px;
	padding-bottom:20px;
	}
.cTy-w100per{
	width:@wD1;
	}
.cTy-h100per{
	height:@wD1;
	}
.cTy-cP{
	cursor: pointer;
}