.slider-header{
	.slider-container{
		.cty-pR;
		.cty-w100per;
		.cty-dB;
		.cty-cFix;
		ul{
			.cty-pR;
			.cty-dB;
			.cty-w100per;
			.cty-cFix;
			.cty-oH;
			height: 600px;
			li{
				.cty-pR;
				.cty-dB;
				.cty-w100per;
				.cty-h100per;
				img{
					//height: 105%;
                    width: 100%;
				}
			}
		}
		button{
			.cty-pA;
			top: 50%;
			margin-top: -24px;
			outline: none;
			border: none;
			background-color: rgba(0,0,0,0.5);
			padding:.8em .5em;
			color: white;
			z-index: 10;
			&:nth-child(2){
				right:0;
			}
		}
	}
}
