@import "general";
@import "font";
@import "color";
@import "size";
@import "column";
body {
    .cty-fs14;
    .cty-fwN;
    background-color: white;
    &.home-page {
        background-image: url(../images/bg-company-info.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    #content {
        padding-top: 100px;
    }
}

#top-bar {
    padding: 5px 0;
    background-color: @gray-dark;
    color: white;
    .cty-tR;
    span {
        margin-left: 10px;
        &:nth-child(1) {
            color: @brand-warning;
        }
        &:nth-child(2) {
            color: #828282;
            margin-left: 20px;
        }
    }
}

#navigation {
    .cty-w100per;
    height: 70px;
    .cty-cFix;
    background-color: white;
    .logo {
        .cty-dB;
        .cty-fL;
        .cty-oH;
        background-image: url(../images/logo.png);
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 70px;
        height: 70px;
    }
    .main_menu {
        .cty-pA;
        bottom: 0px;
        right: 0px;
        .cty-cFix;
        ul {
            li {
                .cty-pR;
                .cty-fL;
                .cty-dB;
                a {
                    .cty-dB;
                    .cty-fs18;
                    padding: .6em 1.5em;
                    color: inherit;
                }
                &:after {
                    content: '';
                    .cty-pA;
                    bottom: 0;
                    left: 0;
                    .cty-w100per;
                    height: 5px;
                    .cty-vH;
                    background-color: @brand-primary;
                }
                &.actived {
                    &:after {
                        .cty-vV;
                    }
                }
            }
        }
    }
}

.container {
    .breadcrumbs {
        width: 100%;
        margin-bottom: 20px;
    }
    /*product-favarite*/
    &.pro-fav {
        position: relative;
        .cty-cFix;
        .cty-w100per;
        padding: 10px 0;
        background-color: white;
        .cty-oH;
        & > .content {
            .title {
                .cty-cFix;
                margin-top: 10px;
                h4 {
                    color: @brand-primary;
                }
            }
            & > .cty-grid {
                padding: 0 30px;
                float: left;
                button {
                    .cty-pA;
                    top: 50%;
                    left: 0px;
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    border: none;
                    outline: none;
                    z-index: 10;
                    &:nth-child(2) {
                        left: inherit;
                        right: 0px;
                    }
                }
                & > .content-slider {
                    & > ul {
                        .cty-dB;
                        & > li {
                            & > div {
                                &:nth-child(1) {
                                    width: 100%;
                                    height: 100%;
                                    .cty-oH;
                                    img {
                                        height: 100%;
                                        width: auto;
                                    }
                                    .pro-info {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 100%;
                                        padding: 5px 10px;
                                        background-color: rgba(0, 0, 0, 0.5);
                                        color: #fff;
                                        //.cty-fs12;
                                        .cty-cFix;
                                        span {
                                            .cty-ttC;
                                            float: left;
                                            display: inline-block;
                                        }
                                        a {
                                            display: inline-block;
                                            float: right;
                                            text-align: right;
                                            color: rgba(255, 255, 255, 0.5);
                                            &:hover {
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*company-information*/
    &.company-info {
        .cty-pR;
        .cty-w100per;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        .content {
            .cty-pR;
            height: 540px;
            .board-info {
                .cty-pA;
                bottom: 100px;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 20px;
                color: white;
            }
        }
    }
    /*detail-product*/
    &.detail-product {
        .content {
            .image {
                position: relative;
                width: 100%;
                height: 360px;
                overflow: hidden;
                margin-bottom: 20px;
                img {
                    position: relative;
                    top: -150px;
                    width: 100%;
                }
            }
        }
    }
}

.wrapper {
    .cty-pTB20;
    .cty-cFix;
    padding-bottom: 100px;
    background-color: white;
    .container {
        .cty-cFix;
        padding-bottom: 20px;
        border-bottom: 1px solid @gray-lighter;
        margin-bottom: 20px;
        .title {
            margin-bottom: 10px;
            h4 {
                .cty-ttU;
                color: @brand-primary;
            }
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .side-left {
        float: left;
        width: 620px;
        .container {
            .content {
                .video {
                    iframe {
                        width: 100%;
                        height: 375px;
                        outline: none;
                        border: 0;
                    }
                }
            }
        }
    }
    .side-right {
        float: right;
        width: 340px;
        .container.other-pro {
            .content {
                .list-items {
                    width: 100%;
                    .cty-dB;
                    li {
                        width: 100%;
                        height: 100px;
                        background-color: #f0f0f0;
                        overflow: hidden;
                        .cty-dB;
                        margin-bottom: 10px;
                        a {
                            .cty-dB;
                            .cty-cFix;
                            width: 100%;
                            height: 100%;
                            .image {
                                .cty-fL;
                                width: 140px;
                                height: 100%;
                                .cty-oH;
                                background-color: white;
                                img {
                                    width: 100%;
                                }
                            }
                            .content {
                                .cty-oH;
                                .cty-fR;
                                width: 200px;
                                padding: 5px 10px;
                                line-height: 20px;
                                h4 {
                                    .cty-tE;
                                    .cty-ttU;
                                }
                            }
                        }
                        &:last-child {
                            height: auto;
                            background-color: transparent;
                            text-align: right;
                            margin-bottom: inherit;
                        }
                    }
                }
            }
        }
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}


/*product-page*/

.list-product {
    .content {
        margin-bottom: 10px;
        .cty-grid {
            & > ul {
                & > li {
                    & > div {
                        width: 100%;
                        height: 100%;
                        .cty-oH;
                        &:nth-child(1) {
                            img {
                                height: 100%;
                                width: auto;
                                margin-bottom: 5px;
                            }
                            .pro-info {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                padding: 5px 10px;
                                background-color: rgba(0, 0, 0, 0.5);
                                color: white;
                                .cty-cFix;
                                h4,
                                a {
                                    display: inline-block;
                                }
                                a {
                                    margin-top: 2px;
                                    float: right;
                                    color: rgba(255, 255, 255, 0.5);
                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bar-social {
    position: fixed;
    top: 150px;
    right: 10px;
    width: 40px;
    min-height: 40px;
    a {
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        background-image: url();
        background-size: 40px;
        background-repeat: no-repeat;
        .cty-oH;
        &.facebook-btn {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png);
        }
        &.skype-btn {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9e/Skype.svg);
            #SkypeButton_Call_Thanh_1 {
                opacity: 0;
            }
        }
    }
}

@import "slider";
@import "footer";
@import "admin";
